body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  max-width: 1440px;
  max-height: 1024px;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 107px auto;
}

.dashboard {
  max-width: 1333px;
}
@media only screen and (max-width: 1200px) {
  .dashboard {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  main {
    grid-template-columns: 40px auto;
  }
}

@media only screen and (max-width: 1200px) {
}

.charts-mini-cards {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  .charts-mini-cards {
    flex-direction: column;
  }
}

.charts {
  padding-left: 109px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 90%;
}

.activity {
  width: 95.3%;
  height: 320px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: #fbfbfb;
}

.sessions,
.performance,
.score {
  width: 30.5%;
  height: 300px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: #fbfbfb;
}

.custom-tooltip-sessions {
  border: none;
  width: 39px;
  height: 100%;
  text-align: center;
  color: black;
}

.data-tooltip-sessions {
  background-color: #fff;
  color: #000;
  font-size: 9px;
  line-height: 24px;
}
