.mini-card {
  background-color: #fbfbfb;
  display: flex;
  height: 124px;
  width: 258px;
  margin-bottom: 10%;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.mini-cards {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

@media only screen and (max-width: 1300px) {
  .mini-cards {
    flex-direction: column;
    margin-left: 107px;
    gap: 3%;
  }
}
@media only screen and (max-width: 1200px) {
  .mini-cards {
    flex-direction: row;
    margin-left: 107px;
    gap: 3.4%;
    width: 77%;
    margin-right: 202px;
  }
  .mini-cards div {
    max-width: 200px;
  }
  .lipides {
    margin-right: 40px;
  }
}

.mini-card span {
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .mini-card span {
    font-size: 16px;
  }
}

.nutriments {
  font-size: 14px;
  color: #74798c;
  margin-top: 7px;
}

.mini-card img {
  height: 60px;
  margin-left: 32px;
}
