.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #020203;
  width: 100%;
  min-width: 1120px;
  height: 91px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 149px;
  font-size: 24px;
}

.img-logo {
  width: 178px;
  height: 60.93px;
  margin-left: 28px;
}

.navigation li a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
